<%- include('../includes/head.ejs') %>

  <%- include('../includes/navigation.ejs') %>

    <section class="section login__section">

      <p class="login__p">Tu w przyszłości będzie formularz do logowania dla użytkokwników.</p>
      <p class="login__p">Na tę chwilę funkcjonalność
        nie jest jeszcze aktywna.
      </p>

    </section>

    <%- include('../includes/footer.ejs') %>