$main-green: rgb(26, 54, 49);
$hover-green: #f5f9b1;
$input-green: #314a46;
$icon-green: rgb(96, 115, 111);
$main-yellow: #e4f225;
$hover-yellow: #f5ff78;
$white: #ffffff;
$black: #1c1b17;
$light-gray: rgb(205, 211, 210);
$gray: #efefef;
$error-background-color: rgba(255, 0, 0, 0.1);
$error-border-color: rgba(255, 0, 0, 0.6);
$error-text-color: rgba(255, 0, 0, 0.9);
$image-gray: #a4a4a2;
