$main-green: rgb(26, 54, 49);
$hover-green: #f5f9b1;
$input-green: #314a46;
$icon-green: rgb(96, 115, 111);
$main-yellow: #e4f225;
$hover-yellow: #f5ff78;
$white: #ffffff;
$black: #1c1b17;
$light-gray: rgb(205, 211, 210);
$gray: #efefef;
