$basic-h1: 3.815rem;
$basic-h2: 3.052rem;
$basic-h3: 2.441rem;
$basic-h4: 1.953rem;
$basic-h5: 1.563rem;
$basic-h6: 1.25rem;

$small-h1: 4.2rem;
$small-h2: 3.35rem;
$small-h3: 2.7rem;
$small-h4: 2.15rem;
$small-h5: 1.35rem;
$small-h6: 1.1rem;
