$basic-h1: 3.815rem;
$basic-h2: 3.052rem;
$basic-h3: 2.441rem;
$basic-h4: 1.953rem;
$basic-h5: 1.563rem;
$basic-h6: 1.25rem;
$basic-p: 1rem;

$small-h1: 4.2rem;
$small-h2: 3.35rem;
$small-h3: 2.7rem;
$small-h4: 2.15rem;
$small-h5: 1.7rem;
$small-h6: 1.35rem;
$small-p: 1.1rem;

$medium-h1: 4.62rem;
$medium-h2: 3.69rem;
$medium-h3: 2.97rem;
$medium-h4: 2.37rem;
$medium-h5: 1.87rem;
$medium-h6: 1.48rem;
$medium-p: 1.21rem;

$large-h1: 5.08rem;
$large-h2: 4.06rem;
$large-h3: 3.27rem;
$large-h4: 2.61rem;
$large-h5: 2.06rem;
$large-h6: 1.63rem;
$large-p: 1.33rem;

$xlarge-h1: 5.59rem;
$xlarge-h2: 4.47rem;
$xlarge-h3: 3.59rem;
$xlarge-h4: 2.87rem;
$xlarge-h5: 2.26rem;
$xlarge-h6: 1.79rem;
$xlarge-p: 1.46rem;
