// _medium.scss
@media (min-width: 768px) {
	.nav {
		&__mobile {
			&--item {
				padding: 4rem;
			}
			&--icon {
				font-size: 5rem;
			}
		}
	}

	.results {
		&__title {
			margin: 3rem;
			font-size: 3rem;
		}

		&__query {
			font-size: 3.5rem;
			margin-bottom: 4rem;
		}

		&__item {
			width: 350px;
			margin: 2.5rem;
			margin-bottom: 5rem;

			&--name {
				font-size: 2.1rem;
				margin: 1.6rem;
			}

			&--type {
				font-size: 1.6rem;
				margin: 1.6rem;
			}

			&--description {
				font-size: 1.6rem;
				margin: 1.6rem;
			}
			&--localization {
				font-size: 1.6rem;
				margin: 1.6rem;
			}
		}
	}

	.search {
		&__title {
			font-size: 1.9rem;
		}

		&__subtitle {
			font-size: 1.7rem;
		}
		&__input {
			@include mediumSearchInputAndButton;
		}

		&__button {
			@include mediumSearchInputAndButton;
		}
	}

	.pagination {
		margin: 5rem;
		font-size: 2rem;

		.footer {
			&__icon {
				font-size: 6rem;
			}
		}

		&__text {
			font-size: 1.4rem;
		}
	}
}
