@use 'colors' as *;
@use 'fontsizes' as *;

// @mixin basicSearchInputAndButton {
// 	margin: 2rem;
// 	border: none;
// 	background-color: $white;
// 	color: $gray;
// 	width: 60vw;
// 	height: 40px;
// 	font-family: inherit;
// 	transition: background-color 0.4s, color 0.4s;
// }

@mixin btn {
	width: 90vw;
	height: 40px;
	font-family: inherit;
	font-weight: bold;
	background-color: $hover-yellow;
	border-radius: 5px;
	border: none;
	margin: 2rem;
	transition: opacity 0.4s, transform 0.4s;
	cursor: pointer;
	font-size: $basic-h5;

	&:hover {
		opacity: 0.85;
	}

	&:active {
		transform: scale(1.05);
	}
	&:focus {
		outline: none;
		background-color: $main-yellow;
	}
}

@mixin btnMedium {
	height: 50px;
	font-size: $medium-h5;
}

@mixin btnxLarge {
	height: 60px;
	font-size: $large-h5;
}
