// _large.scss
@media (min-width: 1200px) {
	.main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.about {
		&__section {
			width: 1200px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&__item {
			width: 500px;
			height: 300px;
		}
	}

	.search {
		&__section {
			width: 1200px;
		}
	}

	.contact {
		&__section {
			width: 1200px;
		}
	}

	.header {
		&__title {
			font-size: $xlarge-h1;
		}

		&__icon {
			font-size: $xlarge-h1;
		}
	}

	.opening {
		&__title {
			font-size: $xlarge-h1;
		}

		&__subtitle {
			font-size: $xlarge-h2;
		}
	}

	.about {
		&__item--top {
			font-size: $xlarge-h3;
		}

		&__item--bottom {
			font-size: $xlarge-h4;
		}
	}

	.search {
		&__section {
			min-height: 50vh;
		}

		&__input {
			height: 50px;
			width: 700px;
			font-size: $xlarge-h5;
		}

		&__button {
			@include btnxLarge;
			width: 700px;
		}

		&__checkboxes {
			width: 700px;
		}

		&__checkbox {
			&--label {
				font-size: $xlarge-h6;
			}
		}
	}

	.contact {
		&__title {
			font-size: $xlarge-h4;
			padding-left: 5rem;
		}

		&__item {
			height: 60px;
		}

		&__textarea {
			height: 150px;
		}

		&__button {
			@include btnxLarge;
		}
	}

	.footer {
		&__icon {
			font-size: $xlarge-h2;
		}
		&__textWrapper {
			font-size: $xlarge-h6;
		}
	}

	.thanks {
		&__title {
			font-size: $xlarge-h3;
		}

		&__subtitle {
			font-size: $xlarge-h6;
		}

		&__signature {
			font-size: $xlarge-h5;
		}
	}

	.error {
		&__title {
			font-size: $xlarge-h1;
		}

		&__subtitle {
			font-size: $xlarge-h3;
		}

		&__text {
			font-size: $xlarge-h6;
		}
	}

	.results {
		&__item {
			&--text {
				font-size: $xlarge-p;
			}

			&--title {
				font-size: $xlarge-p;
			}

			&--description {
				font-size: $xlarge-p;
			}
		}
	}
}
