@use 'colors' as *;
@use 'mixin' as *;
@use 'fontsizes' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1rem;
	font-family: 'Jura', serif;
	// background-color: $main-green;
}

// HEADER

.header {
	position: relative;
	height: 15vh;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	padding: 1.5rem;

	&__iconWrapper {
		display: flex;
		align-items: center;
	}

	&__title {
		color: $main-green;
		font-size: $basic-h2;
	}

	&__icon {
		color: $main-green;
		font-size: 2.027rem;
		z-index: 4;
	}

	&__item {
		// padding: 0.5rem;
	}

	&__hamburger {
		z-index: 7;
	}
}

// NAV

.nav {
	&__mobile {
		position: absolute;
		min-height: 100%;
		width: 100vw;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		background-color: $main-green;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		transform: translateY(-100%);
		transition: transform 0.4s;

		&--list {
			width: 100%;
			height: 100%;
			list-style-type: none;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
		}

		&--showHeaderDiv {
			height: 20vh;
			width: 100vw;
			background-color: transparent;
		}

		&--item {
			padding: 1.5rem;
			width: 100vw;
			border-bottom: 1px solid rgba(255, 255, 255, 0.5);
		}

		&--link {
			text-decoration: none;
			color: $white;
			font-size: $basic-h4;
		}
	}
}

// SHOW MOBILE NAV

.show-nav-header {
	z-index: 3;
	color: $white;
}

.show-nav-mobile {
	transform: translateY(0);
	z-index: 2;
}

.show-nav-body {
	&::before {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.3); /* Kolor tła i przezroczystość */
		z-index: 1; /* Upewnij się, że jest niższy niż z-index nawigacji */
	}
}

// OPENING

.opening {
	&__section {
		height: 85vh;
		width: 100vw;
	}

	&__title {
		font-size: $basic-h1;
		color: $main-green;
		margin: 1rem;
	}

	&__subtitle {
		font-size: $basic-h2;
		color: $main-green;
		margin: 1rem;
	}

	&__image {
		width: 100vw;
		height: 50vh;
		background-image: url('/images/header_big_2.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

// MEDIA

@import './_small';
@import './_medium';
@import './_large';
@import './_xlarge';
