@use 'colors' as *;
@use 'mixin' as *;
@use 'fontsizes' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	// scroll-padding-top: 15vh;
	// scroll-padding-bottom: 15vh;
	scroll-padding-top: 100px;
	overflow-x: hidden;
}

body {
	font-size: 1rem;
	font-family: 'Jura', serif;

	// scroll-padding-top: 15vh;
	// background-color: $main-green;
}

// HEADER

.header {
	position: relative;
	height: 100px;
	flex-shrink: 0; /* Prevents the header from shrinking */
	// background-color: red;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	padding: 3rem;
	transition: position 0.3s ease, background-color 0.3s ease;

	&__fixed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 6;
		color: $white;
		background-color: rgba(0, 0, 0, 0.7);
	}

	&__iconWrapper {
		display: flex;
		align-items: center;
		text-decoration: none;
	}

	&__title {
		color: $main-green;
		font-size: $basic-h2;

		&--fixed {
			color: $white;
		}
	}

	&__icon {
		color: $main-green;
		font-size: $basic-h2;
		z-index: 4;

		&--fixed {
			color: $white;
		}
	}

	&__hamburger {
		z-index: 7;
	}
}

// NAV

.nav {
	&__mobile {
		position: absolute;
		min-height: 100%;
		width: 100vw;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		background-color: $main-green;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		transform: translateY(-100%);
		transition: transform 0.4s;

		&--list {
			width: 100%;
			height: 100%;
			list-style-type: none;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
		}

		&--showHeaderDiv {
			height: 20vh;
			width: 100vw;
			background-color: transparent;
		}

		&--item {
			padding: 1.5rem;
			width: 100vw;
			border-bottom: 1px solid rgba(255, 255, 255, 0.5);
		}

		&--link {
			text-decoration: none;
			color: $white;
			font-size: $basic-h4;
		}
	}

	&__desktop {
		display: none;

		&--list {
			width: 100%;
			height: 100%;
			list-style-type: none;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&--link {
			font-size: $medium-h4;
			color: $main-green;
			text-decoration: none;
			padding: 2rem;
			text-transform: uppercase;
			font-weight: bold;
			transition: text-shadow 0.3s;

			&:hover {
				text-shadow: 0px 7px 14px rgba(66, 68, 90, 0.7);
				// background-color: transparent;
			}

			&--fixed {
				color: $white;
				transition: text-shadow 0.3s;
				&:hover {
					text-shadow: 0px 7px 14px rgba(231, 231, 241, 0.7);
				}
			}
		}
	}
}

// SHOW MOBILE NAV

.show-nav-header {
	z-index: 3;
	color: $white;
}

.show-nav-mobile {
	transform: translateY(0);
	z-index: 2;
}

.show-nav-body {
	&::before {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.3); /* Kolor tła i przezroczystość */
		z-index: 1; /* Upewnij się, że jest niższy niż z-index nawigacji */
	}
}

// OPENING

.opening {
	&__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		height: 100vh; /* Full viewport height */
	}

	&__text {
		padding-left: 3rem;
	}

	&__section {
		flex-grow: 1; /* Fills the remaining space */
		overflow: auto; /* Allows scrolling if content overflows */
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	&__title {
		font-size: $basic-h1;
		color: $main-green;
		// margin: 1rem;
	}

	&__subtitle {
		font-size: $basic-h2;
		color: $main-green;
		// margin: 1rem;
	}

	&__image {
		width: 100vw;
		height: 50vh;
		background-image: url('/images/header_big_2.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		// background-position: center;
		// background-size: cover;
		// background-attachment: fixed;
	}
}

// ABOUT

.about {
	&__section {
		min-height: 100vh;
		width: 100vw;
		padding: 2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__item {
		width: 90vw;
		height: 200px;
		background-color: $gray;
		border-radius: 10px;
		margin: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		transition: box-shadow 0.4s;

		&:hover {
			.about__icon {
				transform: rotateY(180deg); // Obrót ikony o 180 stopni względem osi x
				color: $main-green; // Zmiana koloru ikony na zielony
				// transform: scale(1.4);
			}

			box-shadow: 11px 9px 43px 7px rgba(28, 27, 23, 0.3);
		}

		&--top {
			display: flex;
			width: 100%;
			justify-content: space-between;
			padding: 2rem;
			font-size: $basic-h3;
		}

		&--bottom {
			font-size: $basic-h4;
			padding: 2rem;
		}
	}
	&__icon {
		transition: transform 0.4s;
	}
}

// SEARCH

.search {
	&__section {
		min-height: 40vh;
		width: 100vw;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		// border-top: 1px solid rgba(96, 115, 111, 0.5);
		// border-bottom: 1px solid rgba(96, 115, 111, 0.5);
	}

	&__engine {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__image {
		display: none;
	}

	&__input {
		width: 90vw;
		height: 40px;
		background-color: $gray;
		border: 1px solid rgba(96, 115, 111, 0.2);
		border-radius: 5px;
		font-family: inherit;
		text-align: center;
		margin: 2rem;
		font-size: $basic-h5;
		&:focus {
			outline: none;
			border: 1px solid rgba(96, 115, 111);
		}
	}

	&__button {
		@include btn;
	}
}

// CONTACT

.contact {
	&__section {
		height: 100%;
		width: 100vw;
		margin-top: 4rem;
		margin-bottom: 4rem;
		// background-color: $main-green;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__image {
		display: none;
	}

	&__title {
		text-align: left;
		width: 100%;
		padding-left: 3rem;
		padding-bottom: 3rem;
		font-size: $basic-h4;
		// background-color: red;
	}

	&__wrapper {
		display: flex;
		width: 100%;
		justify-content: space-around;
		align-items: center;
	}

	&__item {
		width: 90vw;
		height: 40px;
		background-color: $gray;
		font-family: inherit;
		border: none;
		border-radius: 5px;
		margin: 2rem;
		padding: 1rem;
		color: $main-green;
		border: 1px solid rgba(96, 115, 111, 0.2);
		font-size: $basic-h5;
		&::placeholder {
			color: rgb(26, 54, 49, 0.8);
		}
		&:focus {
			outline: none;
			border: 1px solid rgba(96, 115, 111);
		}

		&.error-input {
			border-color: $error-border-color;
			background-color: $error-background-color;
		}
	}

	&__textarea {
		height: 100px;
		border: 1px solid rgba(96, 115, 111, 0.2);
		font-size: $basic-h5;
		resize: vertical;
		&:focus {
			outline: none;
			border: 1px solid rgba(96, 115, 111);
		}
	}

	&__button {
		@include btn;
	}

	&__form {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	&__text {
		display: none;
		padding-left: 3rem;

		&.error-text {
			display: block;
			color: $error-text-color;
			font-size: $small-h6;
		}
	}
}

// FOOTER

.footer {
	height: 20vh;
	width: 100vw;
	background-color: $input-green;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	// padding: 3rem;

	&__icon {
		color: $white;
		font-size: $basic-h2;
		display: inline-block;
		cursor: pointer;
		transition: transform 0s ease, color 0.3s ease;
		padding: 2rem;

		&:hover {
			color: $hover-yellow;
			// transform: rotateY(360deg);
		}
	}

	&__textWrapper {
		display: flex; /* Keep it flexible */
		flex-wrap: wrap; /* Allows wrapping to the next line */
		align-items: center; /* Aligns items vertically in the center */
		justify-content: center;
		// gap: 0.5rem; /* Adds space between the elements */
		width: 100%; /* Ensure it spans the full width of the container */
		box-sizing: border-box; /* Includes padding in width calculation */
		text-align: center;
		font-size: $basic-h6;
		margin-bottom: 2rem;
	}

	&__textItem {
		color: $white;
		white-space: nowrap; /* Prevents individual items from wrapping */
		overflow-wrap: normal; /* Ensures proper word breaking */
		text-overflow: ellipsis; /* Optional: truncates long text with ellipsis */
	}

	&__link {
		color: $hover-yellow;
		text-decoration: none;
		white-space: nowrap; /* Prevents individual items from wrapping */
		overflow-wrap: normal; /* Ensures proper word breaking */
		text-overflow: ellipsis; /* Optional: truncates long text with ellipsis */
	}
	&__separate {
		color: $white;
		white-space: nowrap; /* Prevents individual items from wrapping */
		overflow-wrap: normal; /* Ensures proper word breaking */
		text-overflow: ellipsis; /* Optional: truncates long text with ellipsis */
	}
}

// THANKS

.thanks {
	&__section {
		height: 80vh;
		width: 100vw;
		padding-top: 2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		// justify-content: center;
	}

	&__textWrapper {
		width: 90vw;
		height: 250px;
		background-color: $gray;
		border-radius: 8px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		&--top {
			padding: 2rem;
		}

		&--bottom {
			text-align: end;
			padding: 2rem;
		}
	}

	&__title {
		font-size: $basic-h3;
		padding-bottom: 2rem;
	}

	&__subtitle {
		font-size: $basic-h6;
	}

	&__signature {
		font-size: $basic-h5;
	}

	&__link {
		text-decoration: none;
		width: 100vw;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__icon {
		font-size: 6rem;
		color: $main-green;
	}

	&__buttonWrapper {
		width: 100%;
		display: flex;
		align-items: center;
		cursor: pointer;
		transition: transform 0.6s ease, color 0.6s ease;
	}

	&__button {
		@include btn;
		display: block;
	}
}

// ERROR

.error {
	&__section {
		position: relative;
		height: 80vh;
		width: 100vw;
		background-image: url('/images/error_small.jpg');
		background-position: right;
		// background-position: center;
		background-repeat: no-repeat;
		// background-size: cover;
	}

	&__title {
		position: absolute;
		padding: 2rem;
		top: 2rem;
		font-size: $basic-h1;
	}

	&__subtitle {
		position: absolute;
		padding: 2rem;
		top: 9rem;
		width: 70vw;
		font-size: $basic-h3;
	}

	&__text {
		position: absolute;
		padding: 2rem;
		top: 18rem;
		width: 60vw;
		font-size: $basic-h6;
	}

	&__button {
		position: absolute;
		@include btn;
		width: 30vw;
		bottom: 10px;
	}
}

// RESULTS_NEW

.results {
	&__wrapper {
		width: 100vw;
		display: flex;
		justify-content: center;
		align-items: center;
		// background-color: red;
	}
	&__section {
		min-height: 100vh;
		max-width: 1200px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__title {
		font-size: $basic-h4;
		margin: 2rem;
		padding-top: 2rem;
		padding-bottom: 2rem;
		width: 80%;
		text-align: center;
		border-bottom: 1px solid (rgba(0, 0, 0, 0.3));

		&--keyWord {
			text-transform: uppercase;
		}
	}

	&__item {
		width: 80%;
		height: 40vh;
		border-radius: 10px;
		margin: 2rem;
		display: flex; // Aktywuje flexbox dla dzieci
		flex-direction: column;
		justify-content: space-between; // Zapewnia równomierne rozmieszczenie
		background-color: $gray;
		transition: box-shadow 0.4s;

		&:hover {
			box-shadow: 11px 9px 43px 7px rgba(28, 27, 23, 0.3);
		}

		&--top {
			width: 100%;
			height: 60%;
			display: flex;
		}

		&--bottom {
			height: 40%;
		}

		&--imgWrapper {
			flex: 6;
			height: 100%;
			display: flex;
			justify-content: start;
			align-items: flex-start;
			padding: 1rem;
			overflow: hidden;
			border-radius: 10px;
			justify-content: center;
			position: relative;
		}

		&--secondImgWrapper {
			overflow: hidden;
			border-radius: 10px;
			height: 100%;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&--topText {
			flex: 4;
			height: 100%;
			width: 100%;
			padding: 1rem;
			display: flex;
			flex-direction: column;
		}

		&--img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: center;
		}

		&--text {
			padding-bottom: 1rem;
			font-size: $basic-p;
		}

		&--name {
			padding-top: 3rem;
		}

		&--title {
			padding-left: 2rem;
			padding-bottom: 1rem;
			font-size: $basic-h6;
		}

		&--description {
			padding-left: 2rem;
			padding-right: 2rem;
			padding-bottom: 1rem;
			font-size: $basic-p;
		}
	}

	&__nothing {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100vh;
		// background-color: red;
		&--img {
			margin: 3rem;
			background-image: url('/images/search_2.jpg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			height: 50vh;
			width: 90%;
		}

		&--title {
			// background-color: blue;
			font-size: $basic-h3;
			padding: 1rem;
			width: 90%;
		}
	}
}

// RESULTS

// .results {
// 	&__section {
// 		min-height: 100vh;
// 		background-color: $gray;
// 		display: flex;
// 		flex-direction: column;
// 		justify-content: center;
// 		align-items: center;
// 	}

// 	&__introductionWrapper {
// 		display: flex;
// 		flex-direction: column;
// 		justify-content: start;
// 		align-items: flex-start;
// 	}

// 	&__introduction {
// 		padding: 1rem;
// 		font-size: $basic-h5;
// 	}

// 	&__searchValue {
// 		font-weight: bold;
// 		text-transform: uppercase;
// 		color: $main-green;
// 	}

// 	&__itemsWrapper {
// 		height: 100%;
// 		width: 100%;
// 		display: flex;
// 		flex-direction: column;
// 		align-items: center;
// 		justify-content: center;
// 		max-width: 1200px;
// 	}

// 	&__textWrapper {
// 		padding: 1rem;
// 	}

// 	&__item {
// 		margin-top: 2rem;
// 		padding: 1rem;
// 		border-bottom: 1px solid rgba(0, 0, 0, 0.3);
// 		display: flex;
// 		flex-direction: column;
// 		align-items: center;

// 		&--image {
// 			width: 80%;
// 			height: auto;
// 			background-position: center;
// 			background-repeat: no-repeat;
// 			background-size: cover;
// 			box-shadow: 11px 9px 43px 7px rgba(28, 27, 23, 0.3);
// 			border: 1px solid rgba(28, 27, 23, 0.3);
// 		}

// 		&--name {
// 			margin-top: 1rem;
// 			font-size: $basic-h5;
// 		}

// 		&--type {
// 			margin-top: 1rem;
// 			font-size: $basic-p;
// 		}

// 		&--description {
// 			margin-top: 1rem;
// 			font-size: $basic-p;
// 		}

// 		&--tags {
// 			margin-top: 1rem;
// 			font-size: $basic-p;
// 		}

// 		&--localization {
// 			margin-top: 1rem;
// 			font-size: $basic-p;
// 		}
// 	}

// 	&__link {
// 		text-decoration: none;
// 		width: 100vw;
// 		display: flex;
// 		// justify-content: center;
// 		align-items: center;
// 	}

// 	&__buttonWrapper {
// 		width: 100%;
// 		display: flex;
// 		// background-color: rebeccapurple;
// 		align-items: center;
// 		justify-content: center;
// 		cursor: pointer;
// 		transition: transform 0.6s ease, color 0.6s ease;
// 		margin: 3rem;
// 	}

// 	&__button {
// 		@include btn;
// 		display: block;
// 		max-width: 1100px;
// 		width: 90%; // lub width: fit-content;
// 		margin: auto; // jeśli szerokość nie jest 100%
// 	}
// }

hr {
	// opacity: 1;
	display: block;
	border: none;
	height: 1px;
	background: rgba(0, 0, 0, 0.3);
	width: 100vw;
	margin: 20px auto;
}

// MEDIA

@import 'small';
@import 'medium';
@import 'large';
@import 'xlarge';
