<div class="cookies__wrapper">
  <h5 class="cookies__title">Ta strona korzysta z plików cookies w celach technicznych, analitycznych i marketingowych.
    Korzystając z niej,
    wyrażasz zgodę na ich użycie.</h5>

  <button class="cookies__button">Ok!</button>

</div>