

<footer class="footer">

  <div class="footer__iconWrapper">
    <i class="ph ph-facebook-logo footer__icon"></i>
    <i class="ph ph-instagram-logo footer__icon"></i>
    <i class="ph ph-x-logo footer__icon"></i>
  </div>

  <div class="footer__textWrapper">

    <p class="footer__textItem">Projekt:&nbsp;</p><a href="https://github.com/BuszujacyWPszenzycie" class="footer__link"
      target="_blank">BuszujacyWPszenzycie</a>
    <p class="footer__separate">&nbsp;|&nbsp;</p>

    <p class="footer__textItem">Ikony:&nbsp;</p><a href="https://phosphoricons.com/" class="footer__link"
      target="_blank">Phosphor</a>
    <p class="footer__separate">&nbsp;|&nbsp;</p>

    <p class="footer__textItem">Czcionka:&nbsp;</p><a href="https://fonts.google.com/" class="footer__link"
      target="_blank">Google Fonts</a>
    <p class="footer__separate">&nbsp;|&nbsp;</p>

    <p class="footer__textItem">Obrazy:&nbsp;</p><a href="https://www.pexels.com/pl-pl/" class="footer__link"
      target="_blank">Pexels</a>
    <p class="footer__textItem">&nbsp;&&nbsp;</p>

    <a href="https://www.pexels.com/pl-pl/" class="footer__link" target="_blank">Pixabay</a>

  </div>

</footer>

<script src="/js/script.js"></script>
</body>

</html>