<footer class="footer">
  <div class="footer__iconsWrapper">
    <i class="ph ph-facebook-logo footer__icon"></i>
    <i class="ph ph-instagram-logo footer__icon"></i>
    <i class="ph ph-x-logo footer__icon"></i>

  </div>

  <div class="footer__textWrapper">
    <a href="https://github.com/BuszujacyWPszenzycie" class="footer__text" target="_blank"><span
        class="footer__span">Made By: </span>BuszującyWPszenżycie |
    </a>
    <a href="https://fonts.google.com/" class="footer__text" target="_blank"><span class=" footer__span">Czcionka:
      </span>Google Fonts | </a>
    <a href="https://phosphoricons.com/" class="footer__text" target="_blank"><span class=" footer__span"">Ikony: </span>Phosphor | </a>
    <a href=" https://unsplash.com/" class="footer__text" target="_blank"><span class="footer__span">Zdjęcia:
        </span>Unsplash
    </a>
  </div>

</footer>

<script src="/js/script.js"></script>
</body>

</html>