<header class="header">

  <div class="header__iconWrapper header__item">
    <h1 class="header__title h1">BeEco</h1>
    <i class="ph ph-leaf header__icon"></i>
  </div>

  <button class="hamburger hamburger--spin header__hamburger header__item" type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>

  <nav class="nav__mobile header__item">

  </nav>

</header>