<nav class="nav nav__mobile">
  <ul class="nav__mobile--list">
    <li class="nav__mobile--item">


      <a href="/" class="nav__mobile--link">
        <% if (path=="/" ) { %>
          <i class="ph ph-recycle nav__mobile--icon"></i>
          <% } else { %>
            <i class="ph ph-arrow-left nav__mobile--icon"></i>
            <% } %>
      </a>

    </li>

  </ul>
</nav>
</header>