<div class="opening__wrapper">

<header class="header">

  <a href="#" class="header__iconWrapper header__item">
    <h1 class="header__title h1">BeEco</h1>
    <i class="ph ph-leaf header__icon"></i>
  </a>

  <button class="hamburger hamburger--spin header__hamburger header__item" type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>

  <nav class="nav__mobile header__item">

    <ul class="nav__mobile--list">
      <div class="nav__mobile--showHeaderDiv"></div>
      <li class="nav__mobile--item"><a href="#about" class="nav__mobile--link">O nas</a></li>
      <li class="nav__mobile--item"><a href="" class="nav__mobile--link">Wyszukiwarka</a></li>
      <li class="nav__mobile--item"><a href="" class="nav__mobile--link">Kontakt</a></li>
    </ul>

  </nav>

</header>