<nav class="nav nav__mobile">
  <ul class="nav__mobile--list">
    <li class="nav__mobile--item">

      <a href="<%= path === '/search' ? '/' : (path !== '/login' ? '/login' : '/') %>" class="nav__mobile--link">
        <i
          class="ph <%= path === '/search' || path === '/login' ? 'ph-arrow-left' : 'ph-user' %> nav__mobile--icon"></i>
      </a>

    </li>

  </ul>
</nav>
</header>