<%- include('./includes/head.ejs') %>

  <main class="main">
    <section class="error__section">

      <div class="error__textWrapper">

        <h2 class="error__title">Ups...coś poszło nie tak!</h2>
        <h6 class="error__subtitle">Nie ma problemu, nasze pracowite chochliki już pracują nad naprawieniem błędu.</h6>
        <h6 class="error__subtitle">Wróć do strony głównej i spróbuj ponownie.</h6>
      </div>

      <div class="error__imageWrapper">
        <div class="error__image"></div>
      </div>

    </section>
  </main>

  <%- include('./includes/footer.ejs') %>