<%- include('./includes/head.ejs') %>

  <main class="main">
    <section class="error__section">

      <div class="error__image"></div>

      <h1 class="error__title">404</h1>
      <h3 class="error__subtitle">Ups! Coś poszło nie tak...</h3>
      <p class="error__text">Nie martw się! Nasi zdolni programiści już pracują nad rozwiązaniem tego problemu. W
        międzyczasie
        przejdź na stronę główną i spróbuj ponownie!</p>

      <div class="error__buttonWrapper">
        <a href="/" class="error__link">
          <button class="error__button button">Powrót</button>
        </a>
      </div>

    </section>
  </main>

  <%- include('./includes/footer.ejs') %>