<%- include('./includes/head.ejs') %>

  <%- include('./includes/navigation.ejs') %>

    <main class="main">
      <section class="section opening__section">

        <h1 class="opening__title">Segreguj z sensem</h1>
        <h1 class="opening__subtitle">- dla lepszego jutra</h1>

        <div alt="" class="opening__image"></div>

      </section>
    </main>

    <%- include('./includes/footer.ejs') %>