<%- include('./includes/head.ejs') %>

  <%- include('./includes/navigation.ejs') %>

    <main class="main">
      <section class="section opening__section">

        <h1 class="opening__title">Segreguj z sensem</h1>
        <h1 class="opening__subtitle">- dla lepszego jutra</h1>

        <div alt="" class="opening__image"></div>

      </section>

      <section class="section about__section" id="about">

        <h2 class="about__title">Nasza misja</h2>
        <p class="about__paragraph">
          Naszym celem jest ułatwienie Ci prawidłowej segregacji odpadów, aby wspólnie dbać o środowisko. Oto, co
          oferujemy:
        </p>

        <h3 class="about__subtitle">Intuicyjna wyszukiwarka odpadów</h3>

        <p class="about__paragraph">
          Dzięki naszej zaawansowanej wyszukiwarce szybko znajdziesz informacje o tym, do którego pojemnika należy
          wrzucić dany odpad. Wystarczy wpisać nazwę przedmiotu, a my pokażemy Ci, gdzie powinien trafić.
        </p>

        <h3 class="about__subtitle">Praktyczne wskazówki</h3>

        <p class="about__paragraph">
          Dowiesz się, jak prawidłowo przygotować odpady przed wyrzuceniem. Nasze porady pomogą Ci w odpowiednim
          oczyszczeniu i posortowaniu śmieci, co znacznie ułatwi proces recyklingu.
        </p>

        <h3 class="about__subtitle">Współtworzenie bazy wiedzy.</h3>

        <p class="about__paragraph">
          Dowiesz się, jak prawidłowo przygotować odpady przed wyrzuceniem. Nasze porady pomogą Ci w odpowiednim
          oczyszczeniu i posortowaniu śmieci, co znacznie ułatwi proces recyklingu.
        </p>

        <h6 class="about__secondSubtitle">Razem możemy przyczynić się do lepszej ochrony naszej planety. Dołącz do nas w
          misji świadomego i odpowiedzialnego gospodarowania odpadami!</h6>

      </section>
    </main>

    <%- include('./includes/footer.ejs') %>