<%- include('./includes/head.ejs') %>

  <%- include('./includes/navigation.ejs') %>

    <main class="main">
      <section class="section opening__section">

      </section>
    </main>

    <%- include('./includes/footer.ejs') %>