<%- include('./includes/head.ejs') %>

  <%- include('./includes/navigation.ejs') %>


    <main class="main">
      <section class="section search__section">

        <h2 class="search__title">Hej! Dziękuję za skorzystanie z mojej wyszukiwarki. Pamiętaj proszę, że nie są to
          oficjalne dane, także
          traktuj je proszę jedynie jako wskazówkę.</h2>
        <h3 class="search__subtitle">Chcesz mi pomóc w zbieraniu danych? Zapraszam do kontaktu poprzez moje media
          społecznościowe</h3>

        <form class="search__wrapper" action="/search" method="GET">
          <input type="text" class="search__input" placeholder="Podaj słowa kluczowe..." name="q">
          <button class="search__button" type="submit">Wyszukaj</button>
        </form>

      </section>
    </main>

    <%- include('./includes/footer.ejs') %>