<%- include('./includes/head.ejs') %>

  <%- include('./includes/navigation.ejs') %>


    <section class="section opening__section">

      <div class="opening__text">
        <h1 class="opening__title">Segreguj z sensem</h1>
        <h1 class="opening__subtitle">- dla lepszego jutra</h1>
      </div>

      <div alt="" class="opening__image"></div>

    </section>

    </div>
    <main class="main">

      <section class="section about__section" id="about">

        <div class="about__item">

          <div class="about__item--top">

            <h3 class="about__title">Nasza misja</h3>
            <i class="ph ph-target about__icon"></i>

          </div>

          <div class="about__item--bottom">
            <h6 class="about__subtitle">Pomagamy Ci segregować odpady – dla czystszej planety, zdrowszego życia i
              lepszej
              przyszłości</h6>
          </div>

        </div>

        <div class="about__item">

          <div class="about__item--top">

            <h3 class="about__title">Wyszukiwarka</h3>
            <i class="ph ph-magnifying-glass about__icon"></i>

          </div>

          <div class="about__item--bottom">
            <h6 class="about__subtitle">Dzięki naszej zaawansowanej wyszukiwarce szybko znajdziesz informacje o tym, do
              którego pojemnika należy
              wrzucić dany odpad. Wystarczy wpisać nazwę przedmiotu, a my pokażemy Ci, gdzie powinien trafić.</h6>
          </div>

        </div>

        <div class="about__item">

          <div class="about__item--top">

            <h3 class="about__title">Wskazówki</h3>
            <i class="ph ph-compass about__icon"></i>

          </div>

          <div class="about__item--bottom">
            <h6 class="about__subtitle">Dowiesz się, jak prawidłowo przygotować odpady przed wyrzuceniem. Nasze porady
              pomogą Ci w odpowiednim
              oczyszczeniu i posortowaniu śmieci, co znacznie ułatwi proces recyklingu.</h6>
          </div>

        </div>

        <div class="about__item">


          <div class="about__item--top">

            <h3 class="about__title">Współtworzenie</h3>
            <i class="ph ph-globe-hemisphere-west about__icon"></i>

          </div>

          <div class="about__item--bottom">
            <h6 class="about__subtitle">Twoja wiedza ma znaczenie! Dołącz do współtworzenia naszej bazy wiedzy – razem
              uczmy się i dbajmy o środowisko!</h6>
          </div>

        </div>


      </section>

      <section class="search__section section" id="search">

        <input type="text" class="search__input" placeholder="Wpisz słowa kluczowe">
        <button class="search__button button">Wyszukaj!</button>

      </section>

      <section class="contact__section section" id="contact">

        <h4 class="contact__title">Masz sugestie? Napisz do nas!</h4>

        <textarea name="" id="" class="contact__item contact__textarea" placeholder="Treść wiadomości"></textarea>
        <input type="text" class="contact__item contact__input" placeholder="Temat">
        <input type="mail" class="contact__item contact__input" placeholder="Mail">
        <button class="contact__button button">Wyślij</button>

      </section>

    </main>



    <%- include('./includes/footer.ejs') %>