<%- include('./includes/head.ejs') %>

  <section class="section results__section">

    <div class="results__item">

      <div class="results__item--top">

        <div class="results__item--imgWrapper">
          <img class="results__item--img"
            src="https://raw.githubusercontent.com/BuszujacyWPszenzycie/BeEco_images/main/1_PrincePolo.jpg" alt="">
        </div>
        <div class="results__item--topText">
          <p class="results__item--name results__item--text"><strong>Nazwa:&nbsp;</strong>Butelka plastikowa</p>
          <p class="results__item--type results__item--text"><strong>Typ:&nbsp;</strong> Plastik</p>
          <p class="results__item--localization results__item--text"><strong>Lokalizacja:&nbsp;</strong>Poznań</p>
          <p class="results__item--localization results__item--text"><strong>Tagi:&nbsp;</strong>Sport, Eko</p>
        </div>

      </div>
    </div>


    <div class="results__item">

      <div class="results__item--top">

        <div class="results__item--imgWrapper">
          <img class="results__item--img"
            src="https://raw.githubusercontent.com/BuszujacyWPszenzycie/BeEco_images/main/2_Bidon_plastikowy.jpg"
            alt="">
        </div>
        <div class="results__item--topText">
          <p class="results__item--name results__item--text"><strong>Nazwa:&nbsp;</strong>Butelka plastikowa</p>
          <p class="results__item--type results__item--text"><strong>Typ:&nbsp;</strong> Plastik</p>
          <p class="results__item--localization results__item--text"><strong>Lokalizacja:&nbsp;</strong>Poznań</p>
          <p class="results__item--localization results__item--text"><strong>Tagi:&nbsp;</strong>Sport, Eko</p>
        </div>

      </div>
    </div>

  </section>

  <%- include('./includes/footer.ejs') %>