<%- include('./includes/head.ejs') %>

  <main class="main">
    <section class="thanks__section">

      <div class="thanks__textWrapper">

        <div class="thanks__textWrapper--top">
          <h3 class="thanks__title">Dziękujemy za kontakt!</h3>
          <h6 class="thanks__subtitle">
            Twoja wiadomość została pomyślnie wysłana. Dziękujemy, że jesteś częścią naszej społeczności i współtworzysz
            tę
            stronę razem z nami. Postaramy się odpowiedzieć na Twoją wiadomość tak szybko, jak to możliwe.
          </h6>
        </div>
        <div class="thanks__textWrapper--bottom">
          <h5 class="thanks__signature">
            Miłego dnia!
          </h5>
          <h5 class="thanks__signature">
            Zespół BeEco
          </h5>
        </div>
      </div>


      <div class="thanks__buttonWrapper">
        <a href="/" class="thanks__link">
          <button class="thanks__button button">Powrót</button>
        </a>
      </div>


    </section>
  </main>

  <%- include('./includes/footer.ejs') %>