@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  overflow-x: hidden;
}

body {
  font-size: 1rem;
  font-family: "Jura", serif;
}

.header {
  position: relative;
  height: 100px;
  flex-shrink: 0; /* Prevents the header from shrinking */
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  transition: position 0.3s ease, background-color 0.3s ease;
}
.header__fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 6;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
}
.header__iconWrapper {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.header__title {
  color: rgb(26, 54, 49);
  font-size: 3.052rem;
}
.header__title--fixed {
  color: #ffffff;
}
.header__icon {
  color: rgb(26, 54, 49);
  font-size: 3.052rem;
  z-index: 4;
}
.header__icon--fixed {
  color: #ffffff;
}
.header__hamburger {
  z-index: 7;
}

.nav__mobile {
  position: absolute;
  min-height: 100%;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(26, 54, 49);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transform: translateY(-100%);
  transition: transform 0.4s;
}
.nav__mobile--list {
  width: 100%;
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.nav__mobile--showHeaderDiv {
  height: 20vh;
  width: 100vw;
  background-color: transparent;
}
.nav__mobile--item {
  padding: 1.5rem;
  width: 100vw;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.nav__mobile--link {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.953rem;
}
.nav__desktop {
  display: none;
}
.nav__desktop--list {
  width: 100%;
  height: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__desktop--link {
  font-size: 2.37rem;
  color: rgb(26, 54, 49);
  text-decoration: none;
  padding: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  transition: text-shadow 0.3s;
}
.nav__desktop--link:hover {
  text-shadow: 0px 7px 14px rgba(66, 68, 90, 0.7);
}
.nav__desktop--link--fixed {
  color: #ffffff;
  transition: text-shadow 0.3s;
}
.nav__desktop--link--fixed:hover {
  text-shadow: 0px 7px 14px rgba(231, 231, 241, 0.7);
}

.show-nav-header {
  z-index: 3;
  color: #ffffff;
}

.show-nav-mobile {
  transform: translateY(0);
  z-index: 2;
}

.show-nav-body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3); /* Kolor tła i przezroczystość */
  z-index: 1; /* Upewnij się, że jest niższy niż z-index nawigacji */
}

.opening__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh; /* Full viewport height */
}
.opening__text {
  padding-left: 3rem;
}
.opening__section {
  flex-grow: 1; /* Fills the remaining space */
  overflow: auto; /* Allows scrolling if content overflows */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.opening__title {
  font-size: 3.815rem;
  color: rgb(26, 54, 49);
}
.opening__subtitle {
  font-size: 3.052rem;
  color: rgb(26, 54, 49);
}
.opening__image {
  width: 100vw;
  height: 50vh;
  background-image: url("/images/header_big_2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about__section {
  min-height: 100vh;
  width: 100vw;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__item {
  width: 90vw;
  height: 200px;
  background-color: #efefef;
  border-radius: 10px;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: box-shadow 0.4s;
}
.about__item:hover {
  box-shadow: 11px 9px 43px 7px rgba(28, 27, 23, 0.3);
}
.about__item:hover .about__icon {
  transform: rotateY(180deg);
  color: rgb(26, 54, 49);
}
.about__item--top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 2rem;
  font-size: 2.441rem;
}
.about__item--bottom {
  font-size: 1.953rem;
  padding: 2rem;
}
.about__icon {
  transition: transform 0.4s;
}

.search__section {
  min-height: 40vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.search__engine {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search__image {
  display: none;
}
.search__filter--wrapper {
  border: 1px solid rgba(96, 115, 111, 0.2);
  background-color: #efefef;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search__filter--title {
  margin-top: 1rem;
  font-size: 1.563rem;
}
.search__checkboxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90vw;
  height: 80px;
  gap: 20px; /* odstęp między polami */
}
.search__checkbox--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px; /* odstęp między labelką a checkboxem */
}
.search__checkbox--label {
  font-size: 1.25rem;
}
.search__checkbox--input {
  accent-color: #a4a4a2;
  width: 20px;
  height: 20px;
}
.search__input {
  width: 90vw;
  height: 40px;
  background-color: #efefef;
  border: 1px solid rgba(96, 115, 111, 0.2);
  border-radius: 5px;
  font-family: inherit;
  text-align: center;
  margin: 2rem;
  font-size: 1.563rem;
}
.search__input:focus {
  outline: none;
  border: 1px solid rgb(96, 115, 111);
}
.search__button {
  width: 90vw;
  height: 40px;
  font-family: inherit;
  font-weight: bold;
  background-color: #f5ff78;
  border-radius: 5px;
  border: none;
  margin: 2rem;
  transition: opacity 0.4s, transform 0.4s;
  cursor: pointer;
  font-size: 1.563rem;
}
.search__button:hover {
  opacity: 0.85;
}
.search__button:active {
  transform: scale(1.05);
}
.search__button:focus {
  outline: none;
  background-color: #e4f225;
}

.contact__section {
  height: 100%;
  width: 100vw;
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__image {
  display: none;
}
.contact__title {
  text-align: left;
  width: 100%;
  padding-left: 3rem;
  padding-bottom: 3rem;
  font-size: 1.953rem;
}
.contact__wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.contact__item {
  width: 90vw;
  height: 40px;
  background-color: #efefef;
  font-family: inherit;
  border: none;
  border-radius: 5px;
  margin: 2rem;
  padding: 1rem;
  color: rgb(26, 54, 49);
  border: 1px solid rgba(96, 115, 111, 0.2);
  font-size: 1.563rem;
}
.contact__item::-moz-placeholder {
  color: rgba(26, 54, 49, 0.8);
}
.contact__item::placeholder {
  color: rgba(26, 54, 49, 0.8);
}
.contact__item:focus {
  outline: none;
  border: 1px solid rgb(96, 115, 111);
}
.contact__item.error-input {
  border-color: rgba(255, 0, 0, 0.6);
  background-color: rgba(255, 0, 0, 0.1);
}
.contact__textarea {
  height: 100px;
  border: 1px solid rgba(96, 115, 111, 0.2);
  font-size: 1.563rem;
  resize: vertical;
}
.contact__textarea:focus {
  outline: none;
  border: 1px solid rgb(96, 115, 111);
}
.contact__button {
  width: 90vw;
  height: 40px;
  font-family: inherit;
  font-weight: bold;
  background-color: #f5ff78;
  border-radius: 5px;
  border: none;
  margin: 2rem;
  transition: opacity 0.4s, transform 0.4s;
  cursor: pointer;
  font-size: 1.563rem;
}
.contact__button:hover {
  opacity: 0.85;
}
.contact__button:active {
  transform: scale(1.05);
}
.contact__button:focus {
  outline: none;
  background-color: #e4f225;
}
.contact__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.contact__text {
  display: none;
  padding-left: 3rem;
}
.contact__text.error-text {
  display: block;
  color: rgba(255, 0, 0, 0.9);
  font-size: 1.35rem;
}

.footer {
  position: relative;
  height: 20vh;
  width: 100vw;
  background-color: #314a46;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.footer__icon {
  color: #ffffff;
  font-size: 3.052rem;
  display: inline-block;
  cursor: pointer;
  transition: transform 0s ease, color 0.3s ease;
  padding: 2rem;
}
.footer__icon:hover {
  color: #f5ff78;
}
.footer__textWrapper {
  display: flex; /* Keep it flexible */
  flex-wrap: wrap; /* Allows wrapping to the next line */
  align-items: center; /* Aligns items vertically in the center */
  justify-content: center;
  width: 100%; /* Ensure it spans the full width of the container */
  box-sizing: border-box; /* Includes padding in width calculation */
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
.footer__textItem {
  color: #ffffff;
  white-space: nowrap; /* Prevents individual items from wrapping */
  overflow-wrap: normal; /* Ensures proper word breaking */
  text-overflow: ellipsis; /* Optional: truncates long text with ellipsis */
}
.footer__link {
  color: #f5ff78;
  text-decoration: none;
  white-space: nowrap; /* Prevents individual items from wrapping */
  overflow-wrap: normal; /* Ensures proper word breaking */
  text-overflow: ellipsis; /* Optional: truncates long text with ellipsis */
}
.footer__separate {
  color: #ffffff;
  white-space: nowrap; /* Prevents individual items from wrapping */
  overflow-wrap: normal; /* Ensures proper word breaking */
  text-overflow: ellipsis; /* Optional: truncates long text with ellipsis */
}

.cookies__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  z-index: 10;
}
.cookies__title {
  color: #ffffff;
  font-size: 1.563rem;
  line-height: 1.5;
  margin: 2rem;
}
.cookies__button {
  width: 90vw;
  height: 40px;
  font-family: inherit;
  font-weight: bold;
  background-color: #f5ff78;
  border-radius: 5px;
  border: none;
  margin: 2rem;
  transition: opacity 0.4s, transform 0.4s;
  cursor: pointer;
  font-size: 1.563rem;
  width: 80%;
  height: 30px;
  font-size: 1.563rem;
}
.cookies__button:hover {
  opacity: 0.85;
}
.cookies__button:active {
  transform: scale(1.05);
}
.cookies__button:focus {
  outline: none;
  background-color: #e4f225;
}
.cookies__hide {
  display: none;
}

.thanks__section {
  height: 80vh;
  width: 100vw;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.thanks__textWrapper {
  width: 90vw;
  height: 250px;
  background-color: #efefef;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.thanks__textWrapper--top {
  padding: 2rem;
}
.thanks__textWrapper--bottom {
  text-align: end;
  padding: 2rem;
}
.thanks__title {
  font-size: 2.441rem;
  padding-bottom: 2rem;
}
.thanks__subtitle {
  font-size: 1.25rem;
}
.thanks__signature {
  font-size: 1.563rem;
}
.thanks__link {
  text-decoration: none;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.thanks__icon {
  font-size: 6rem;
  color: rgb(26, 54, 49);
}
.thanks__buttonWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.6s ease, color 0.6s ease;
}
.thanks__button {
  width: 90vw;
  height: 40px;
  font-family: inherit;
  font-weight: bold;
  background-color: #f5ff78;
  border-radius: 5px;
  border: none;
  margin: 2rem;
  transition: opacity 0.4s, transform 0.4s;
  cursor: pointer;
  font-size: 1.563rem;
  display: block;
}
.thanks__button:hover {
  opacity: 0.85;
}
.thanks__button:active {
  transform: scale(1.05);
}
.thanks__button:focus {
  outline: none;
  background-color: #e4f225;
}

.error__section {
  position: relative;
  height: 80vh;
  width: 100vw;
  background-image: url("/images/error_small.jpg");
  background-position: right;
  background-repeat: no-repeat;
}
.error__title {
  position: absolute;
  padding: 2rem;
  top: 2rem;
  font-size: 3.815rem;
}
.error__subtitle {
  position: absolute;
  padding: 2rem;
  top: 9rem;
  width: 70vw;
  font-size: 2.441rem;
}
.error__text {
  position: absolute;
  padding: 2rem;
  top: 18rem;
  width: 60vw;
  font-size: 1.25rem;
}
.error__button {
  position: absolute;
  width: 90vw;
  height: 40px;
  font-family: inherit;
  font-weight: bold;
  background-color: #f5ff78;
  border-radius: 5px;
  border: none;
  margin: 2rem;
  transition: opacity 0.4s, transform 0.4s;
  cursor: pointer;
  font-size: 1.563rem;
  width: 30vw;
  bottom: 10px;
}
.error__button:hover {
  opacity: 0.85;
}
.error__button:active {
  transform: scale(1.05);
}
.error__button:focus {
  outline: none;
  background-color: #e4f225;
}

.results__wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.results__section {
  min-height: 100vh;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.results__title {
  font-size: 1.953rem;
  margin: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 80%;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.results__title--keyWord {
  text-transform: uppercase;
}
.results__item {
  width: 80%;
  height: 40vh;
  border-radius: 10px;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #efefef;
  transition: box-shadow 0.4s;
}
.results__item:hover {
  box-shadow: 11px 9px 43px 7px rgba(28, 27, 23, 0.3);
}
.results__item--top {
  width: 100%;
  height: 60%;
  display: flex;
}
.results__item--bottom {
  height: 40%;
}
.results__item--imgWrapper {
  flex: 6;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  padding: 1rem;
  overflow: hidden;
  border-radius: 10px;
  justify-content: center;
  position: relative;
}
.results__item--secondImgWrapper {
  overflow: hidden;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.results__item--topText {
  flex: 4;
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.results__item--img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.results__item--text {
  padding-bottom: 1rem;
  font-size: 1rem;
}
.results__item--name {
  padding-top: 3rem;
}
.results__item--title {
  padding-left: 2rem;
  padding-bottom: 1rem;
  font-size: 1.25rem;
}
.results__item--description {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  font-size: 1rem;
}
.results__nothing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.results__nothing--img {
  margin: 3rem;
  background-image: url("/images/search_2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 50vh;
  width: 90%;
}
.results__nothing--title {
  font-size: 2.441rem;
  padding: 1rem;
  width: 90%;
}
.results__button {
  width: 90vw;
  height: 40px;
  font-family: inherit;
  font-weight: bold;
  background-color: #f5ff78;
  border-radius: 5px;
  border: none;
  margin: 2rem;
  transition: opacity 0.4s, transform 0.4s;
  cursor: pointer;
  font-size: 1.563rem;
  width: 80vw;
  max-width: 1000px;
}
.results__button:hover {
  opacity: 0.85;
}
.results__button:active {
  transform: scale(1.05);
}
.results__button:focus {
  outline: none;
  background-color: #e4f225;
}

hr {
  display: block;
  border: none;
  height: 1px;
  background: rgba(0, 0, 0, 0.3);
  width: 100vw;
  margin: 20px auto;
}

.button {
  color: #1c1b17 !important; /* Wymuszenie koloru */
  text-decoration: none; /* Usunięcie domyślnego podkreślenia */
  -webkit-tap-highlight-color: transparent; /* Uniknięcie zmiany koloru po tapnięciu */
}

.button a:visited,
.button a:focus,
.button a:active {
  color: #1c1b17 !important;
}

@media (min-width: 576px) {
  .header__title {
    font-size: 4.2rem;
  }
  .header__icon {
    font-size: 4.2rem;
  }
  .opening__title {
    font-size: 4.2rem;
  }
  .opening__subtitle {
    font-size: 3.35rem;
  }
  .opening__image {
    background-attachment: fixed;
  }
  .about__item--top {
    font-size: 2.7rem;
  }
  .about__item--bottom {
    font-size: 2.15rem;
  }
  .search__checkbox--label {
    font-size: 1.35rem;
  }
  .footer__icon {
    font-size: 3.35rem;
  }
  .footer__textWrapper {
    font-size: 1.35rem;
  }
  .cookies__title {
    font-size: 1.7rem;
  }
  .cookies__button {
    height: 40px;
    font-size: 1.7rem;
  }
  .thanks__title {
    font-size: 2.7rem;
  }
  .thanks__subtitle {
    font-size: 1.35rem;
  }
  .thanks__signature {
    font-size: 1.7rem;
  }
  .error__title {
    font-size: 4.2rem;
  }
  .error__subtitle {
    font-size: 2.7rem;
  }
  .error__text {
    font-size: 1.35rem;
  }
  .results__item--text {
    font-size: 1.1rem;
  }
  .results__item--title {
    font-size: 1.1rem;
  }
  .results__item--description {
    font-size: 1.1rem;
  }
}
@media (min-width: 768px) {
  .header__title {
    font-size: 4.62rem;
  }
  .header__icon {
    font-size: 4.62rem;
  }
  .opening__title {
    font-size: 4.62rem;
  }
  .opening__subtitle {
    font-size: 3.69rem;
  }
  .about__item--top {
    font-size: 2.97rem;
  }
  .about__item--bottom {
    font-size: 2.37rem;
  }
  .search__section {
    min-height: 50vh;
  }
  .search__input {
    height: 50px;
    font-size: 1.87rem;
  }
  .search__button {
    height: 50px;
    font-size: 1.87rem;
  }
  .search__checkboxes {
    height: 100px;
  }
  .search__checkbox--label {
    font-size: 1.48rem;
    margin-bottom: 1rem;
  }
  .contact__title {
    font-size: 2.37rem;
    padding-left: 5rem;
  }
  .contact__item {
    height: 50px;
  }
  .contact__textarea {
    height: 150px;
  }
  .contact__button {
    height: 50px;
    font-size: 1.87rem;
  }
  .footer__icon {
    font-size: 3.69rem;
  }
  .footer__textWrapper {
    font-size: 1.48rem;
  }
  .cookies__title {
    font-size: 1.87rem;
  }
  .cookies__button {
    height: 50px;
    font-size: 1.87rem;
  }
  .thanks__title {
    font-size: 2.97rem;
  }
  .thanks__subtitle {
    font-size: 1.48rem;
  }
  .thanks__signature {
    font-size: 1.87rem;
  }
  .error__title {
    font-size: 4.62rem;
  }
  .error__subtitle {
    font-size: 2.97rem;
  }
  .error__text {
    font-size: 1.48rem;
  }
  .results__item--text {
    font-size: 1.46rem;
  }
  .results__item--title {
    font-size: 1.46rem;
  }
  .results__item--description {
    font-size: 1.46rem;
  }
  .results__nothing--img {
    height: 70vh;
  }
}
@media (min-width: 992px) {
  .header {
    padding: 5rem;
  }
  .header__hamburger {
    display: none;
  }
  .nav__mobile {
    display: none;
  }
  .opening__text {
    padding-left: 5rem;
  }
  .about__section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .about__item {
    width: 450px;
    height: 250px;
  }
  .nav__desktop {
    display: block;
  }
  .cookies__title {
    font-size: 2.06rem;
  }
  .cookies__button {
    font-size: 2.06rem;
  }
  .search__section {
    height: 70vh;
    flex-direction: row;
    justify-content: space-around;
  }
  .search__engine {
    width: 50vw;
  }
  .search__image {
    display: block;
    width: 300px;
    height: 300px;
    background-image: url("/images/search_2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .search__input {
    width: 500px;
  }
  .search__button {
    width: 500px;
  }
  .search__checkboxes {
    width: 500px;
  }
  .search__checkbox {
    width: 500px;
  }
  .search__checkbox--label {
    font-size: 1.63rem;
  }
  .contact__wrapper {
    display: flex;
  }
  .contact__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background-image: url("/images/contact_2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contact__item {
    width: 500px;
  }
  .contact__button {
    width: 500px;
  }
  .results__section {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .results__item {
    width: 40%;
    height: 50vh;
  }
  .results__item--text {
    font-size: 1.33rem;
  }
  .results__item--title {
    font-size: 1.33rem;
  }
  .results__item--description {
    font-size: 1.33rem;
  }
  .results__nothing {
    flex-direction: row-reverse;
  }
  .results__nothing--img {
    height: 80vh;
    width: 50vw;
  }
  .results__nothing--titleWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    height: 80vh;
  }
}
@media (min-width: 1200px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about__section {
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about__item {
    width: 500px;
    height: 300px;
  }
  .search__section {
    width: 1200px;
  }
  .contact__section {
    width: 1200px;
  }
  .header__title {
    font-size: 5.59rem;
  }
  .header__icon {
    font-size: 5.59rem;
  }
  .opening__title {
    font-size: 5.59rem;
  }
  .opening__subtitle {
    font-size: 4.47rem;
  }
  .about__item--top {
    font-size: 3.59rem;
  }
  .about__item--bottom {
    font-size: 2.87rem;
  }
  .cookies__title {
    font-size: 2.26rem;
  }
  .cookies__button {
    height: 50px;
    font-size: 2.26rem;
  }
  .search__section {
    min-height: 50vh;
  }
  .search__input {
    height: 50px;
    width: 700px;
    font-size: 2.26rem;
  }
  .search__button {
    height: 60px;
    font-size: 2.06rem;
    width: 700px;
  }
  .search__checkboxes {
    width: 700px;
  }
  .search__checkbox--label {
    font-size: 1.79rem;
  }
  .contact__title {
    font-size: 2.87rem;
    padding-left: 5rem;
  }
  .contact__item {
    height: 60px;
  }
  .contact__textarea {
    height: 150px;
  }
  .contact__button {
    height: 60px;
    font-size: 2.06rem;
  }
  .footer__icon {
    font-size: 4.47rem;
  }
  .footer__textWrapper {
    font-size: 1.79rem;
  }
  .thanks__title {
    font-size: 3.59rem;
  }
  .thanks__subtitle {
    font-size: 1.79rem;
  }
  .thanks__signature {
    font-size: 2.26rem;
  }
  .error__title {
    font-size: 5.59rem;
  }
  .error__subtitle {
    font-size: 3.59rem;
  }
  .error__text {
    font-size: 1.79rem;
  }
  .results__item--text {
    font-size: 1.46rem;
  }
  .results__item--title {
    font-size: 1.46rem;
  }
  .results__item--description {
    font-size: 1.46rem;
  }
}/*# sourceMappingURL=main.css.map */