@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  overflow-x: hidden;
}

body {
  font-size: 1rem;
  font-family: "Jura", serif;
}

.header {
  position: relative;
  height: 100px;
  flex-shrink: 0; /* Prevents the header from shrinking */
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  transition: position 0.3s ease, background-color 0.3s ease;
}
.header__fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 6;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
}
.header__iconWrapper {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.header__title {
  color: rgb(26, 54, 49);
  font-size: 3.052rem;
}
.header__title--fixed {
  color: #ffffff;
}
.header__icon {
  color: rgb(26, 54, 49);
  font-size: 2.027rem;
  z-index: 4;
}
.header__icon--fixed {
  color: #ffffff;
}
.header__hamburger {
  z-index: 7;
}

.nav__mobile {
  position: absolute;
  min-height: 100%;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(26, 54, 49);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transform: translateY(-100%);
  transition: transform 0.4s;
}
.nav__mobile--list {
  width: 100%;
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.nav__mobile--showHeaderDiv {
  height: 20vh;
  width: 100vw;
  background-color: transparent;
}
.nav__mobile--item {
  padding: 1.5rem;
  width: 100vw;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.nav__mobile--link {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.953rem;
}

.show-nav-header {
  z-index: 3;
  color: #ffffff;
}

.show-nav-mobile {
  transform: translateY(0);
  z-index: 2;
}

.show-nav-body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3); /* Kolor tła i przezroczystość */
  z-index: 1; /* Upewnij się, że jest niższy niż z-index nawigacji */
}

.opening__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh; /* Full viewport height */
}
.opening__section {
  flex-grow: 1; /* Fills the remaining space */
  overflow: auto; /* Allows scrolling if content overflows */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.opening__title {
  font-size: 3.815rem;
  color: rgb(26, 54, 49);
  margin: 1rem;
}
.opening__subtitle {
  font-size: 3.052rem;
  color: rgb(26, 54, 49);
  margin: 1rem;
}
.opening__image {
  width: 100vw;
  height: 50vh;
  background-image: url("/images/header_big_2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about__section {
  min-height: 100vh;
  width: 100vw;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__item {
  width: 90vw;
  height: 200px;
  background-color: #efefef;
  border-radius: 10px;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: box-shadow 0.4s;
}
.about__item:hover {
  box-shadow: 11px 9px 43px 7px rgba(28, 27, 23, 0.3);
}
.about__item:hover .about__icon {
  transform: rotateY(180deg);
  color: rgb(26, 54, 49);
}
.about__item--top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 2rem;
  font-size: 2.441rem;
}
.about__item--bottom {
  font-size: 1.953rem;
  padding: 2rem;
}
.about__icon {
  transition: transform 0.4s;
}

.search__section {
  min-height: 40vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid rgba(96, 115, 111, 0.5);
  border-bottom: 1px solid rgba(96, 115, 111, 0.5);
}
.search__input {
  width: 90vw;
  height: 40px;
  background-color: #efefef;
  border: 1px solid rgba(96, 115, 111, 0.2);
  border-radius: 5px;
  font-family: inherit;
  text-align: center;
  margin: 2rem;
  font-size: 1.563rem;
}
.search__input:focus {
  outline: none;
  border: 1px solid rgb(96, 115, 111);
}
.search__button {
  width: 90vw;
  height: 40px;
  font-family: inherit;
  font-weight: bold;
  background-color: #f5ff78;
  border-radius: 5px;
  border: none;
  margin: 2rem;
  transition: opacity 0.4s, transform 0.4s;
  cursor: pointer;
  font-size: 1.563rem;
}
.search__button:hover {
  opacity: 0.85;
}
.search__button:active {
  transform: scale(1.05);
}
.search__button:focus {
  outline: none;
  background-color: #e4f225;
}

.contact__section {
  height: 100%;
  width: 100vw;
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__title {
  text-align: left;
  width: 100%;
  padding: 2rem;
  font-size: 1.953rem;
}
.contact__item {
  width: 90vw;
  height: 40px;
  background-color: #efefef;
  font-family: inherit;
  border: none;
  border-radius: 5px;
  margin: 2rem;
  padding: 1rem;
  color: rgb(26, 54, 49);
  border: 1px solid rgba(96, 115, 111, 0.2);
  font-size: 1.563rem;
}
.contact__item::-moz-placeholder {
  color: rgba(26, 54, 49, 0.8);
}
.contact__item::placeholder {
  color: rgba(26, 54, 49, 0.8);
}
.contact__item:focus {
  outline: none;
  border: 1px solid rgb(96, 115, 111);
}
.contact__textarea {
  height: 100px;
  border: 1px solid rgba(96, 115, 111, 0.2);
  font-size: 1.563rem;
  resize: vertical;
}
.contact__textarea:focus {
  outline: none;
  border: 1px solid rgb(96, 115, 111);
}
.contact__button {
  width: 90vw;
  height: 40px;
  font-family: inherit;
  font-weight: bold;
  background-color: #f5ff78;
  border-radius: 5px;
  border: none;
  margin: 2rem;
  transition: opacity 0.4s, transform 0.4s;
  cursor: pointer;
  font-size: 1.563rem;
}
.contact__button:hover {
  opacity: 0.85;
}
.contact__button:active {
  transform: scale(1.05);
}
.contact__button:focus {
  outline: none;
  background-color: #e4f225;
}

.footer {
  height: 20vh;
  width: 100vw;
  background-color: #314a46;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.footer__icon {
  color: #ffffff;
  font-size: 3.052rem;
  display: inline-block;
  cursor: pointer;
  transition: transform 0s ease, color 0.3s ease;
  padding: 2rem;
}
.footer__icon:hover {
  color: #f5ff78;
}
.footer__textWrapper {
  display: flex; /* Keep it flexible */
  flex-wrap: wrap; /* Allows wrapping to the next line */
  align-items: center; /* Aligns items vertically in the center */
  justify-content: center;
  width: 100%; /* Ensure it spans the full width of the container */
  box-sizing: border-box; /* Includes padding in width calculation */
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
.footer__textItem {
  color: #ffffff;
  white-space: nowrap; /* Prevents individual items from wrapping */
  overflow-wrap: normal; /* Ensures proper word breaking */
  text-overflow: ellipsis; /* Optional: truncates long text with ellipsis */
}
.footer__link {
  color: #f5ff78;
  text-decoration: none;
  white-space: nowrap; /* Prevents individual items from wrapping */
  overflow-wrap: normal; /* Ensures proper word breaking */
  text-overflow: ellipsis; /* Optional: truncates long text with ellipsis */
}
.footer__separate {
  color: #ffffff;
  white-space: nowrap; /* Prevents individual items from wrapping */
  overflow-wrap: normal; /* Ensures proper word breaking */
  text-overflow: ellipsis; /* Optional: truncates long text with ellipsis */
}

.thanks__section {
  height: 80vh;
  width: 100vw;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.thanks__textWrapper {
  width: 90vw;
  height: 40vh;
  background-color: #efefef;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.thanks__textWrapper--top {
  padding: 2rem;
}
.thanks__textWrapper--bottom {
  text-align: end;
  padding: 2rem;
}
.thanks__title {
  font-size: 2.441rem;
  padding-bottom: 2rem;
}
.thanks__subtitle {
  font-size: 1.25rem;
}
.thanks__signature {
  font-size: 1.563rem;
}
.thanks__link {
  text-decoration: none;
}
.thanks__icon {
  font-size: 6rem;
  color: rgb(26, 54, 49);
}
.thanks__buttonWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.6s ease, color 0.6s ease;
}
.thanks__button {
  width: 90vw;
  height: 40px;
  font-family: inherit;
  font-weight: bold;
  background-color: #f5ff78;
  border-radius: 5px;
  border: none;
  margin: 2rem;
  transition: opacity 0.4s, transform 0.4s;
  cursor: pointer;
  font-size: 1.563rem;
}
.thanks__button:hover {
  opacity: 0.85;
}
.thanks__button:active {
  transform: scale(1.05);
}
.thanks__button:focus {
  outline: none;
  background-color: #e4f225;
}

.error__section {
  height: 80vh;
  width: 100vw;
}
.error__image {
  width: 100vw;
  height: 50vh;
  background-image: url("/images/error_big.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}/*# sourceMappingURL=main.css.map */